# Loading Required Libraries

In [22]:
import pandas as pd

# Loading The Dataset

In [23]:
df = pd.read_csv("Dataset/CubanDataset.csv")

In [24]:
df.head()

,id,age,menarche,menopause,agefirst,children,breastfeeding,nrelbc,biopsies,hyperplasia,...,weight,exercise,alcohol,tobacco,allergies,emotional,depressive,histologicalclass,birads,cancer
0,1,50,11,No,No,0,No,Mother,1.0,Yes,...,83.4,No,Yes,Yes,Rhinitis,Sad,Yes,3.0,3A,Yes
1,2,46,12,No,36,1,3 months,Mother/Sister,2.0,Yes,...,78.2,2,Yes,No,Medicines,Joy,No,3.0,3B,Yes
2,3,47,13,No,26,1,3 months,Sister,1.0,Yes,...,82.6,1,No,Yes,Laryngitis,Sad,No,4.0,3B,Yes
3,4,49,11,47,21,1,No,Daughter,1.0,No,...,79.4,No,Yes,Yes,No,Joy,No,3.0,4B,Yes
4,5,54,14,42,16,1,1 month,Mother,2.0,Yes,...,81.5,No,Yes,No,No,Sad,Yes,4.0,3C,Yes

In [25]:
# Shape of dataset
df.shape

(1697, 23)

In [26]:
# Columns and datatypes of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1697 non-null   int64
 1   age                1697 non-null   int64
 2   menarche           1697 non-null   int64
 3   menopause          1697 non-null   object
 4   agefirst           1697 non-null   object
 5   children           1697 non-null   object
 6   breastfeeding      1697 non-null   object
 7   nrelbc             1697 non-null   object
 8   biopsies           1696 non-null   float64
 9   hyperplasia        1697 non-null   object
 10  race               1697 non-null   object
 11  year               1160 non-null   float64
 12  imc                1690 non-null   float64
 13  weight             1687 non-null   float64
 14  exercise           1697 non-null   object
 15  alcohol            1697 non-null   object
 16  tobacco            1697 non-null   object
 17  allergies          1421 non-null   object
 18  emotional          1697 non-null   object
 19  depressive         1697 non-null   object
 20  histologicalclass  1160 non-null   float64
 21  birads             1160 non-null   object
 22  cancer             1697 non-null   object
dtypes: float64(5), int64(3), object(15)
memory usage: 305.1+ KB

In [27]:
# Statistics of numeric data
df.describe()

,id,age,menarche,biopsies,year,imc,weight,histologicalclass
count,1697.00000,1697.000000,1697.000000,1696.000000,1160.000000,1690.000000,1687.000000,1160.000000
mean,849.00000,51.483206,11.725987,1.308373,2010.863793,25.534615,70.497214,3.729310
std,490.02602,11.929919,1.839937,1.184392,4.636249,4.961554,12.808854,1.767066
min,1.00000,20.000000,8.000000,0.000000,2001.000000,5.000000,13.000000,1.000000
25%,425.00000,45.000000,10.000000,0.000000,2008.000000,22.800000,61.900000,3.000000
50%,849.00000,53.000000,12.000000,1.000000,2011.000000,25.100000,69.200000,3.000000
75%,1273.00000,61.000000,13.000000,2.000000,2015.000000,27.300000,79.200000,4.000000
max,1697.00000,90.000000,17.000000,5.000000,2018.000000,88.800000,240.000000,11.000000

In [28]:
# Unique values of categorical data
df.select_dtypes(include = "object").apply(pd.unique)

menopause        [No, 47, 42, 44, 46, 43, 51, 40, 41, 48, 39, 4...
agefirst         [No, 36, 26, 21, 16, 20, 27, 24, 30, 35, 25, 1...
children                                    [0, 1, 2, 3, 4, 5, 5+]
breastfeeding    [No, 3 months, 1 month, 2 months, 4 months, 8 ...
nrelbc           [Mother, Mother/Sister, Sister, Daughter, No, ...
hyperplasia                                              [Yes, No]
race                                         [White, Mixed, Black]
exercise                   [No, 2, 1, Diary, 3, 5, 4, NO, 6, 0, 7]
alcohol                                                  [Yes, No]
tobacco                                                  [Yes, No]
allergies        [Rhinitis, Medicines, Laryngitis, No, Dermatit...
emotional                                               [Sad, Joy]
depressive                                               [Yes, No]
birads                            [3A, 3B, 4B, 3C, 5C, 5B, 6, nan]
cancer                                                   [Yes, No]
dtype: object